@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes die-roll {
  0% {
    transform: scale(1) rotate(0deg);
    filter: blur(0px);
  }

  25% {
    transform: scale(0.6) rotate(-145deg);
    filter: blur(1px);
  }

  50% {
    transform: scale(0.5) rotate(145deg);
    filter: blur(1px);
  }

  75% {
    transform: scale(0.6) rotate(-140deg);
    filter: blur(1px);
  }

  100% {
    transform: scale(1) rotate(0deg);
    filter: blur(0px);
  }
}

.animate-roll {
  animation: die-roll 0.4s ease-out;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.25) transparent;
}